.hero {
  display: flex;
  justify-content: space-between;
}

.left-h {
  padding: 3rem;
  padding-top: 20px;
  flex: 3;
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.right-h {
  flex: 1;
  position: relative;
}

.the-best-ad {
  margin-top: 40px;
  background-color: #363d42;
  border-radius: 40px;
  width: fit-content;
  padding: 20px 12px;
  text-transform: uppercase;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.the-best-ad > span {
  z-index: 2;
}

.the-best-ad > div {
  position: absolute;
  background-color: var(--orange);
  width: 40px;
  height: 80%;
  left: 8px;
  border-radius: 20px;
  z-index: 1;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: bold;
  color: white;
  text-overflow: inherit;
  z-index: 1;
}

.hero-text > div:nth-of-type(3) {
  font-size: 1rem;
  font-weight: 200;
  text-transform: none;
  letter-spacing: 1px;
  width: 80%;
}

.figures {
  display: flex;
  gap: 20px;
}

.figures > div {
  display: flex;
  flex-direction: column;
}

.figures > div > span:nth-of-type(1) {
  color: white;
  font-size: 2rem;
}

.figures > div > span:nth-of-type(2) {
  color: var(--gray);
  text-transform: uppercase;
}

.hero-btn {
  display: flex;
  gap: 20px;
  font-weight: normal;
}

.hero-btn > :nth-of-type(1) {
  color: white;
  background-color: var(--orange);
  width: 100px;
}

.hero-btn > :nth-of-type(2) {
  color: white;
  background-color: transparent;
  width: 100px;
  border: 2px solid var(--orange);
}

.right-h > .btn {
  position: absolute;
  right: 60px;
  top: 40px;
  color: black;
}

.heart-rate {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--darkGrey);
  width: fit-content;
  padding: 20px;
  align-items: start;
  border-radius: 20px;
  position: absolute;
  right: 10px;
  top: 140px;
  z-index: 1;
}

.heart-rate > img {
  width: 40px;
}

.heart-rate > :nth-child(2) {
  color: var(--gray);
}

.heart-rate > :nth-child(3) {
  color: white;
  font-size: 1.5rem;
}

.hero-image {
  position: absolute;
  right: 0px;
  top: 120px;
  width: 460px;
}

.hero-image-back {
  position: absolute;
  right: 320px;
  top: 0px;
  width: 300px;
  z-index: -1;
}

.calories {
  display: flex;
  gap: 40px;
  background-color: var(--caloryCard);
  border-radius: 5px;
  padding: 20px;
  width: fit-content;
  position: absolute;
  top: 520px;
  right: 480px;
}

.calories > img {
  width: 60px;
}

.calories > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calories > div :nth-child(1) {
  color: var(--gray);
}

.calories > div :nth-child(2) {
  color: white;
  font-size: 1.5rem;
}

.blur-h {
  width: 440px;
  height: 600px;
  left: 0;
}

@media screen and (max-width: 1278px) {
  .calories {
    right: 100px;
  }

  .figures {
    z-index: 1;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
  }

  .blur-h {
    width: 280px;
  }

  .the-best-ad {
    margin-top: 0;
    font-size: small;
    align-self: center;
    transform: scale(0.8);
  }

  .hero-text {
    font-size: xx-large;
    align-items: center;
    justify-content: center;
  }

  .hero-text > :nth-child(3) {
    font-size: small;
    letter-spacing: 1px;
    text-align: center;
  }

  .figures {
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .hero-btn {
    justify-content: center;
  }

  .right-h {
    position: relative;
  }
  .hero-image {
    position: relative;
    transform: scale(0.6);
    align-self: center;
    left: 20px;
  }

  .hero-image-back {
    /* position: relative; */
    transform: scale(0.6);
    align-self: center;
    left: 0px;
    top: 60px;
  }

  .heart-rate {
    left: 20px;
    top: 60px;
    transform: scale(0.8);
  }

  .calories {
    /* position: relative; */
    left: 140px;
    top: 120px;
    transform: scale(0.8);
  }
}
